nav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 10px;
}

a{
    color: white;
    text-decoration: none;
}
.home{
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    padding-right: 10px;
    
}

.content{
    display: grid;
    grid-template-columns: 50% 50%;
}
.btn{
    padding-bottom: 5px;

}
button:hover{
    color: white;
    background-color: black;
}